@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Great+Vibes&family=Inter:wght@400;500;600;700&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Cormorant Garamond', serif;
}

.font-script {
  font-family: 'Great Vibes', cursive;
}
